body{
	background-image: url("pexels-photo-102720.jpeg");
}

.container {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.jumbotron {
	margin: 0 20px;
	text-align: center;
	font-size: 60px;
	color: white;
	background-color: #657690;
	border-radius: 25px;
}

